/* Google Font Link */

/* font-family: 'Work Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');


/* General CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: rgba(255, 144, 14, 0.1);
    --one-color: #FF900E;
    --hcolor: #131313;
    --fcolor: #727272;
    --fcolor-two: #424242;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--fcolor);
}

h1, h2, h3, h4, h5, h6{
    color: var(--hcolor);
}

a{
    text-decoration: none;
}

.common-btn{
    padding: 1.25rem;
    background: #FF900E;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    
}

/* Header CSS */
header.header{
    background: var(--bg-color);
}

/* , .hero-area */
.header-section, .hero-area {
    width: 76%;
    margin: auto;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-text{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.5rem;
    color: var(--hcolor);
}

ul.menu {
    display: flex;
    gap: 2.25rem;
}

li.menu-items {
    list-style: none;
}

a.menu-links{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--fcolor-two);
}

/* Hero Area CSS */
.hero-area{
    flex-direction: column !important;
    width: 75% !important;
    justify-content: center !important;
    text-align: center;
    gap: 3rem;
}


.hero-text-container {
    width: 60%;
}

h2.hero-title{
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.75rem;
}


p.hero-text {
    margin: 2rem 0;
}

.hero-img-container img {
    width: 100%;
}

/* Team Section CSS */
section.team-section {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 5.25rem;
}

.team-image-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.team-image-container img {
    width: 20rem;
    height: 20rem;
}

h3.team-title{
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.25rem;
}

span.title-span {
    font-weight: 500;
    color: var(--fcolor);
}

.title-span2{
    color: var(--one-color);
}

p.team.text {
    margin: 2rem 0;
}

/* Feature Section */
section.feature-section {
    width: 75%;
    display: flex;
    margin: 8rem auto;
    gap: 3rem;
}

.feature-title, .fact-section h4 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    padding-left: 0.75rem;
    border-left: 4px solid;
    border-color: var(--one-color);
}

p.feature-text {
    margin: 1.5rem 0;
}

.features {
    margin: 2rem;
}

.features h5 {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.feature-img-container {
    position: relative;
}

.exp-box {
    width: 40%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--one-color);
    border-radius: 5px;
    color: #fff;
    position: absolute;
    bottom: 25%;
    left: -5%;
}

.exp-box h3 {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.25rem;
    color: #fff;
}


section.fact-section {
    width: 75%;
    margin: auto;
}

.fact-section h4{
    border: none !important;
    margin-bottom: 1.5rem;
    padding-left: 0;
}

.facts-container {
    margin: 6.25rem 0 12rem 0;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.fact {
    padding: 2.50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--one-color);
    border-radius: 5px;
}

.fact h5 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.fact span {
    font-weight: 600;
    line-height: 1.5rem;
}

/* Sponsor Section CSS */
section.sponsor-section {
    width: 78%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 8rem;
}

.sponsor-text {
    text-align: center;
    width: 60%;
}

.sponsor-text h4 {
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}

.sponsor-img-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    justify-items: center;
}

.sponsor-img-container {
    display: grid;  
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
    justify-items: center;
}

.sponsor-img-container img {
    filter: grayscale(1);
    width: 150px;
}

/* Footer CSS */
footer.footer {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: var(--bg-color);
}


/* -----------
    Media Queries
----------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    
}